@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
:root {
  --blue-color: #0065fe;
  --dark-color: #141414;
}

.button {
  padding: 16px 32px;
  border-radius: 100px;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  position: relative;
}

.blue.button {
  background-color: var(--blue-color);
}

span {
  color: var(--blue-color);
}

/* Header Section */

nav {
  display: inline-flex;
  align-items: center;
  gap: 140px;
  margin-left: 145px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  margin: 0;
}

nav ul li a {
  font-size: 18px;
  text-decoration: none;
  color: var(--dark-color);
  font-family: "Gilroy-Medium", sans-serif;
}

.nav-buttons a {
  font-family: "Gilroy-Medium", sans-serif;
}

#nav-login,
#nav-url {
  color: var(--blue-color);
}

/* Hero section */
.hero-section {
  margin-top: 116px;
  margin-left: 246px;
  margin-right: 246px;
  margin-bottom: 80px;
}

.hero-section ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  margin: auto;
}

.hero-section .hero-buttons {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  margin-top: 32px;
}

.hero-buttons #hero-url {
  text-decoration: none;
  color: var(--blue-color);
  font-size: 16px;
  font-family: Gilroy-SemiBold;
}

.hero-section .blue.button {
  display: flex;
  width: 142px;
  height: 44px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

h1 {
  color: #141414;
  text-align: center;
  font-size: 48px;
  font-family: Gilroy-Bold;
  line-height: 96px;
}

.hero-section #top-para {
  color: var(--text-color-main-text, #141414);
  text-align: center;
  font-size: 18px;
  font-family: Gilroy-Medium;
  line-height: 28px;
  width: 781px;
  height: 105px;
  margin: auto;
}

.hero-section #hero-mark {
  margin-left: 400px;
  margin-top: 0px;
}

.hero-section ul li {
  color: var(--blue-color);
  text-decoration: none;
}

.hero-image {
  margin-top: 56px;
  width: 833px;
  height: 336.568px;
  position: relative;
}
.hero-image.item {
  position: absolute;
  display: inline-flex;
  left: 85px;
  bottom: 95px;
  width: 600px;
  z-index: 1;
  height: 150px;
  padding: 40px 60px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  border-radius: 24px;
  border: 0.5px solid var(--primary-400, #005ae2);
  background: rgba(254, 254, 254, 0.1);
  backdrop-filter: blur(106px);
}

.hero-image.item p {
  color: var(--text-color-main-text, #141414);
  text-align: center;
  font-size: 16px;
  font-family: Gilroy-Medium;
  line-height: 24px;
  margin-left: 100px;
  margin-right: 60px;
}

.hero-image .background {
  position: absolute;
  top: 0px;
  right: 500px;
}

/* Possibilities section */

.possibilities-section {
  display: flex;
  padding: 60px 140px;
  justify-content: center;
  align-items: center;
  gap: 120px;
  background: #f9fbfd;
  height: 220px;
}

.possibilities-section .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 72px;
  height: 100px;
  width: 709px;
}

.possibility-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.possibilities-section h2 {
  color: #141414;
  font-size: 40px;
  font-family: Gilroy-Bold;
  line-height: 48px;
  height: 96px;
  width: 337px;
}

.possibility-item .title {
  font-size: 32px;
  font-family: Gilroy-SemiBold;
  line-height: 40px;
}

.possibility-item .value {
  font-size: 16px;
  font-family: Gilroy-Medium;
  line-height: 24px;
}

/* Features Section */

.features-section {
  display: flex;
  padding: 60px 140px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 120px;
  margin-top: 128px;
}

.features-section .left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 398px;
}

.features-section .left-side .section-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.features-section .left-side .section-title p {
  color: #141414;
  font-size: 40px;
  font-family: Gilroy-Bold;
  line-height: 32px;
  width: 382px;
}

.features-section .left-side .section-content {
  width: 370px;
  height: 192px;
}

.features-section .left-side p {
  color: var(--text-color-main-text, #141414);
  font-size: 16px;
  font-family: Gilroy-Medium;
  line-height: 28px;
}

.features-section .left-side h2 {
  color: #141414;
  font-size: 40px;
  font-family: Gilroy-Bold;
  line-height: 32px;
}

.features-section .right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.features-section .right-side-top,
.features-section .right-side-bottom {
  display: flex;
  align-items: flex-start;
  gap: 28px;
}

.features-section .right-side img {
  width: 36px;
  height: 36px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feature-item .feat-title {
  color: var(--text-color-main-text, #141414);
  font-size: 32px;
  font-family: Gilroy-SemiBold;
}

.feature-item .feat-content {
  color: var(--text-color-main-text, #141414);
  font-size: 16px;
  font-family: Gilroy-Medium;
  line-height: 24px;
}

/* Pricing section */
.price-section {
  margin-top: 140px;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.price-section .section-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.price-section .section-title p {
  color: #141414;
  text-align: center;
  font-size: 40px;
  font-family: Gilroy-Bold;
  line-height: 48px;
}

.price-section .section-subtitle {
  width: 556px;
  height: 52px;
  margin-bottom: 100px;
}

.price-section p {
  text-align: center;
  font-size: 16px;
  font-family: Gilroy-Medium;
  line-height: 24px;
}

.price-section .price-plans {
  width: 1088px;
  height: 627px;
  /* position: relative; */
  display: flex;
  align-items: center;
  margin-bottom: 140px;
}

.price-section .price-plans .price-plan {
  display: flex;
  padding: 20px 0px 45px 67px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  border: 0.4px solid var(--primary-400, #005ae2);
  background: var(--neutral-white, #fff);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

#pp1,
#pp3 {
  width: 379px;
  height: 455px;
}

#pp2 {
  width: 410px;
  color: #fff;
  height: 627px;
  border-radius: 12px;
  background: var(
    --linear-gradient,
    linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%)
  );
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.price-feature {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: 212px;
}

.price-plan .price-feature p {
  text-align: center;
  font-size: 14px;
  font-family: Gilroy-Medium;
  line-height: 24px;
}

.price-plan .price-amount {
  text-align: center;
  font-size: 40px;
  font-family: Gilroy-Bold;
}

.price-plan p {
  text-align: center;
  font-size: 24px;
  font-family: Gilroy-Medium;
}

.price-plan .users {
  font-size: 20px;
}

.price-section .price-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 140px;
}

.price-section .price-buttons .blue.button {
  display: flex;
  width: 200px;
  height: 48px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.price-section .price-buttons .light-button {
  display: flex;
  text-decoration: none;
  color: var(--blue-color);
  width: 200px;
  height: 48px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid var(--primary-300-base, #0065fe);
}

/* URL Section */
.url-section {
  background: var(
    --linear-gradient,
    linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%)
  );
  width: 1500px;
  height: 523px;
  position: relative;
}

#url-image {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.url-section .url {
  position: absolute;
  top: 50px;
  right: 500px;
  display: inline-flex;
  padding: 42px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  border-radius: 12px;
  background: #fff;
  width: 476px;
  height: 355px;
}

#url-input1 {
  color: var(--blue-color);
  display: flex;
  width: 416px;
  height: 55px;
  padding: 8px 12px;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 12px;
  border: 1px solid var(--primary-100, #3284ff);
}

.url-section .url .url-input.adjacent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

#url-input2 {
  display: flex;
  color: var(--blue-color);
  width: 202px;
  height: 48px;
  padding: 8px 12px;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border: 1px solid var(--primary-100, #3284ff);
}

#url-input3 {
  color: #0065fe;
  display: flex;
  width: 178px;
  height: 48px;
  padding: 8px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #3284ff;
}
.url-section .url .trim-button .blue.button {
  display: flex;
  width: 392px;
  height: 48px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-family: Gilroy-SemiBold;
  line-height: 12px;
}

.url-section .url .url-footer {
  width: 392px;
  height: 60px;
  color: #4991ff;
  font-size: 14px;
  font-family: Gilroy-Medium;
  line-height: 20px;
}

/* FAQ section */
#faq {
  /* margin-top: 140px; */
  width: 1440px;
  height: 1153px;
  position: relative;
  /* margin-bottom: 140px; */
}

#faq .section-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  color: #141414;
  text-align: center;
  font-size: 40px;
  font-family: Gilroy-Bold;
  line-height: 48px;
}

.faq-body {
  width: 800px;
  margin: auto;
  position: absolute;
  top: 43px;
  left: 324px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

#image9 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#image10 {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#faq {
  padding-bottom: 6rem;
}

.faq-header {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 700;
}

.faq-para {
  font-size: 1.5rem;
  text-align: center;
}

.faq-content {
  margin: 0 auto;
}

.faq-question {
  padding: 2rem 0;
  border-bottom: 1px dotted #d6d6d6;
}

.panel-title {
  color: var(--text-color-main-text, #141414);
  font-size: 20px;
  font-family: Gilroy-Medium;
  line-height: 32px;
  width: 742px;
}

.panel-content {
  color: var(--text-color-main-text, #141414);
  font-size: 16px;
  font-family: Gilroy-Medium;
  line-height: 32px;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.panel:checked ~ .panel-content {
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 3rem;
  margin-left: 6px;
  margin-top: 0px;
  z-index: 5;
  font-size: 24px;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
}

.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
}
